<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012679868774-iu3ig22fhnljjo65jbmkqgcjhfsj9fi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012679868774-iu3ig22fhnljjo65jbmkqgcjhfsj9fi8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1012679868774-tb2vi2l0b6fuqeea3los6m2khil4gfqg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApcVrlq-GLMgjTWSxaIIPjiPiZFP9uqLs</string>
	<key>GCM_SENDER_ID</key>
	<string>1012679868774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatonlinefirebase.chatonlinefirebase</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-d8a07</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-d8a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012679868774:ios:f506da345242ae7c2688a7</string>
</dict>
</plist>